# Node.js dependencies
node_modules/

# TypeScript build files
dist/
*.js
*.d.ts

# JSON database files
database/
db/
*.json

# VS Code settings files
.vscode/

# Other temporary files
*.log
*.tmp
.DS_Store
